
body{
    background: url("more trees.jpg") rgba(250, 248, 249, 0.5);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: lighten;
    height: max-content;
    position: relative;
    font-size: 30px;
}
div{
    background: rgba(237, 243, 238, 0.3);
    height: fit-content;
    margin: auto;
    width: fit-content;
}
a{
    border: 1px solid #ccc;
	padding: 5px 10px;
	text-decoration: none;
	color: rgb(0, 0, 0);
	font-family: arial, verdana, tahoma;
	font-size: 11px;
	display: block;
    font-size: 30px;
    font-style: oblique;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
	
    
	border-radius: 5px;
}
a:hover{
    color: blue;
    background-color: rgb(89, 142, 192);
    transition: all 0.4s;
}
h1, p{
    text-align: center;
}
table{
    display: flex;
    justify-content: center;
}
