
* {margin: 0; padding: 0;}
body{
	background: url("more trees.jpg") rgba(250, 248, 249, 0.5);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: lighten;
    height: max-content;
    position: relative;
    font-size: 30px;
	transition: all 1s;
}
.tree ul {
	padding-top: 20px; position: relative;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

.tree li {
	float: left; text-align: center;
	list-style-type: none;
	position: relative;
	padding: 20px 5px 0 5px;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

/*We will use ::before and ::after to draw the connectors*/

.tree li::before, .tree li::after{
	content: '';
	position: absolute; top: 0; right: 50%;
	border-top: 2px solid rgb(3, 19, 0);
	width: 50%; height: 20px;
}
.tree li::after{
	right: auto; left: 50%;
	border-left: 2px solid rgb(3, 19, 0);
}

/*We need to remove left-right connectors from elements without 
any siblings*/
.tree li:only-child::after, .tree li:only-child::before {
	display: none;
}

/*Remove space from the top of single children*/
.tree li:only-child{ padding-top: 0;}

/*Remove left connector from first child and 
right connector from last child*/
.tree li:first-child::before, .tree li:last-child::after{
	border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before{
	border-right: 2px solid rgb(3, 19, 0);
	border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
}
.tree li:first-child::after{
	border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.tree ul ul::before{
	content: '';
	position: absolute; top: 0; left: 50%;
	border-left: 2px solid rgb(3, 19, 0);
	width: 0; height: 20px;
}

.tree li a{
	border: 1px solid #ccc;
	padding: 5px 10px;
	text-decoration: none;
	color: rgb(0, 0, 0);
	font-family: arial, verdana, tahoma;
	font-size: 11px;
	display: inline-block;
	background: rgba(253, 255, 254, 0.7);
	
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.tree li a:hover, .tree li a:hover+ul li a {
	background: #afd5da; color: #000; border: 1px solid #94a0b4;
}
/*Connector styles on hover*/
.tree li a:hover+ul li::after, 
.tree li a:hover+ul li::before, 
.tree li a:hover+ul::before, 
.tree li a:hover+ul ul::before{
	border-color:  #afd5da;
}
table{
    text-align: left;
    border: none;
}
img{
    border-radius: 50%;
}
.naam{
    text-align: center;
	font-size: 20px;
}
ul{
    display: flex;
    justify-content: center;
}
h1, p{
    text-align: center;
}
.X{
	width: 40px;
	text-align: center;
}
.left{
	margin-right: 100px;
}
.right{
	margin-left: 100px;
}
.infobox{
	font-size: 15px;
}
.uitlijning{
	text-align: right;
	font-weight: bold;
	padding-right: 10px;
}
#terug{
	float: left;
	border: 1px solid #ccc;
	padding: 5px 10px;
	text-decoration: none;
	color: rgb(0, 0, 0);
	font-family: arial, verdana, tahoma;
	font-size: 20px;
	background: rgba(253, 255, 254, 0.7);
	margin: 20px;

	
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}