body {
  background-image: url("./../public/Ventura-light.jpg");
  background-size: cover;
  background-repeat: repeat;
  font-family: "Courier New", monospace;
  color: #654321;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.App {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.column-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.column {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.column-item {
  width: 100%;
}

@media (min-width: 840px) {
  .column-container {
    flex-direction: row;
  }

  .column {
    width: calc(50% - 10px);
  }
}
